In [5]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [6]:
total_prod_csv = Path('C:\\Users\\grego\\Desktop\\GroupProjects\\emergingmarkets\\TotalProduction.csv')
total_prod = pd.read_csv(total_prod_csv, index_col="Crop year").T
exports_csv = Path('C:\\Users\\grego\\Desktop\\GroupProjects\\emergingmarkets\\Exports.csv')
exports = pd.read_csv(exports_csv, index_col="Crop year").T
opening_stx_csv = Path('C:\\Users\\grego\\Desktop\\GroupProjects\\emergingmarkets\\OpeningStocks.csv')
opening_stx = pd.read_csv(opening_stx_csv, index_col="Crop years").T
prices_to_growers_csv = Path('C:\\Users\\grego\\Desktop\\GroupProjects\\emergingmarkets\\PricesToGrowers.csv')
prices_to_growers = pd.read_csv(prices_to_growers_csv)
retail_prices_csv = Path('C:\\Users\\grego\\Desktop\\GroupProjects\\emergingmarkets\\RetailPrices.csv')
retail_prices = pd.read_csv(retail_prices_csv, index_col="Calendar years").T

In [7]:
exports

Crop year,Angola,Bolivia (Plurinational State of),Brazil,Burundi,Ecuador,Indonesia,Madagascar,Malawi,Papua New Guinea,Paraguay,...,Panama,Sierra Leone,Sri Lanka,Thailand,Togo,Trinidad & Tobago,Uganda,Venezuela,Viet Nam,Yemen
1990/91,79,112,"17,863",412,"1,628","6,720",726,104,"1,013",169,...,130,87,33,433,181,12,"2,085",132,"1,146",73
1991/92,74,83,"21,808",762,"1,472","5,584",679,122,795,85,...,105,74,20,"1,183",316,2,"2,013",113,"1,318",46
1992/93,68,101,"16,752",672,"1,288","5,115",720,129,943,49,...,150,43,7,"1,042",214,5,"2,010",479,"2,175",47
1993/94,28,37,"18,761",353,"1,589","5,302",521,75,"1,028",55,...,94,64,48,"1,105",194,10,"3,067",446,"2,753",82
1994/95,12,86,"15,958",580,"2,156","4,226",475,87,"1,135",38,...,144,68,22,"1,209",199,4,"2,793",66,"3,207",81
1995/96,48,110,"13,760",464,"1,438","4,350",632,81,"1,000",15,...,151,36,17,893,84,4,"4,214",454,"3,679",51
1996/97,51,105,"17,260",186,"1,513","6,772",667,58,"1,082",16,...,118,33,20,"1,103",290,4,"4,237",184,"5,422",70
1997/98,54,109,"15,352",546,"1,111","5,509",433,58,"1,079",8,...,142,45,20,785,178,5,"3,032",80,"6,615",73
1998/99,55,101,"21,085",392,966,"5,719",823,62,"1,342",42,...,147,22,27,417,310,4,"3,648",582,"6,687",69
1999/00,40,123,"21,186",438,983,"4,846",404,52,"1,328",3,...,78,47,3,962,279,3,"2,917",113,"10,897",61
2000/01,20,113,"18,577",407,702,"5,614",201,68,"1,050",1,...,70,34,4,"1,184",195,2,"3,075",26,"14,606",64
2001/02,11,64,"23,767",217,713,"5,173",74,59,"1,073",2,...,78,74,3,260,114,2,"3,153",131,"11,966",62
2002/03,12,89,"29,613",431,585,"4,280",194,43,"1,076",10,...,84,37,5,199,78,3,"2,810",297,"11,555",57
2003/04,13,65,"24,909",324,628,"4,821",122,47,"1,152",38,...,105,31,8,349,152,2,"2,523",180,"14,497",47
2004/05,5,110,"27,468",477,761,"5,822",85,20,"1,011",10,...,81,17,3,342,150,1,"2,489",29,"13,994",70
2005/06,5,69,"25,078",232,"1,001","6,795",123,21,"1,253",23,...,109,55,6,623,126,1,"2,002",48,"13,122",65
2006/07,5,104,"28,486",373,"1,025","4,770",131,17,811,16,...,112,34,4,384,147,1,"2,704",68,"18,090",69
2007/08,6,73,"28,044",277,962,"4,418",155,20,970,25,...,119,37,3,150,134,1,"3,210",146,"15,774",68
2008/09,8,75,"30,292",351,859,"5,667",150,20,"1,064",0,...,65,66,1,184,142,0,"3,054",22,"17,386",47
2009/10,3,82,"30,255",173,"1,156","7,990",45,16,"1,049",0,...,64,98,2,289,202,0,"2,669",19,"14,591",43
2010/11,5,70,"34,054",351,"1,274","5,648",89,16,880,0,...,56,28,2,328,159,0,"3,150",2,"16,850",36
2011/12,9,83,"32,149",202,"1,553","3,645",135,25,"1,418",0,...,49,74,1,329,151,1,"2,727",2,"21,706",55
2012/13,8,55,"29,283",406,"1,578","8,970",90,22,715,0,...,49,56,0,113,83,2,"3,583",2,"20,665",58
2013/14,5,68,"32,752",159,"1,210","8,701",174,27,833,0,...,48,27,2,26,134,2,"3,500",4,"24,902",57
2014/15,9,46,"37,782",246,"1,089","6,679",111,24,796,0,...,43,41,1,384,183,2,"3,455",0,"21,294",53
2015/16,11,29,"37,473",274,839,"7,985",55,20,710,0,...,60,41,1,301,73,2,"3,316",0,"26,437",41
2016/17,15,21,"33,491",247,890,"6,891",61,19,"1,169",0,...,54,33,2,138,32,2,"4,605",0,"23,540",43
2017/18,5,25,"30,783",195,644,"7,761",44,13,732,0,...,36,28,2,236,109,2,"4,359",72,"25,988",42
2018/19,10,23,"37,614",180,446,"4,718",21,12,928,0,...,62,28,1,180,79,2,"4,454",0,"26,474",41